<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Spotlight</string>
	<key>CFBundleExecutable</key>
	<string>SpotlightPreferenceExtension</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Spotlight-Settings.extension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Spotlight</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25A5316f</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.0</string>
	<key>DTSDKBuild</key>
	<string>25A5316f</string>
	<key>DTSDKName</key>
	<string>macosx26.0.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264k</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.Settings.extension.ui</string>
		<key>SettingsExtensionAttributes</key>
		<dict>
			<key>allowsXAppleSystemPreferencesURLScheme</key>
			<true/>
			<key>legacyBundleIdentifier</key>
			<array>
				<string>com.apple.preference.speech</string>
				<string>com.apple.preference.spotlight</string>
			</array>
			<key>legacyPrefPaneBundleName</key>
			<array>
				<string>Speech.prefPane</string>
				<string>Spotlight.prefPane</string>
			</array>
			<key>searchTermsFileName</key>
			<string>SpotlightSearchTerms</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Settings.extension.ui</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 Apple Inc. All rights reserved.</string>
</dict>
</plist>
